body {
    font-size: 15pt;
}
nav{
    background:gold ;
    height:5rem ;
    text-align: center ;
}

h1{
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
  margin-top:1rem ;
  font-size:3rem ;
}
header {
  position: relative; /* الحاوية */
  justify-content: flex-start;
  
  height: 20rem;      /* خلى فيه مساحة تكفى العناصر */
}

/* الشكل */
#sections{
  display: flex ;
  justify-content:center ;
  gap:1rem ;
  margin:4rem 0;
}
#sections a{
  text-decoration:none ;
  color:#000000 ;
  text-align:center ;
  padding:0.5rem  ;
  border-radius:50% ;
  font-weight:bold ;
  height: 10rem;
width:10rem;
background-position:center;
background-size:15rem;
align-content:center;
background:hsla(53, 88%, 76%, 0.5);
backdrop-filter: blur(8rem);
-webkit-backdrop-filter: blur(8rem);
/* background-repeat:no-repeat ;*/
border-radius:50%;
}
#sections a:hover{
  color:gold;
  background:#000000 ;
  box-shadow: 0 0 1rem #000000 ;
  transition:0.3s ;
  
}
#latsha {
  
  background: gold ;  
  /*clip-path: polygon(100% 31%, 100% 100%, 0 100%, 71% 81%);*/
ً/*  clip-path: polygon(100% 27%, 100% 100%, 0 100%, 76% 45%);*/
{}/*clip-path: ellipse(50% 17% at 50% 50%);*/
/*clip-path: polygon(100% 0%, 48% 48%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);*/
clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 62% 50%, 17% 0); 
  position: absolute;
  
  z-index: 1; /* ده هيكون تحت */
}
@media(max-width:992px ){
       #latsha{
    height: 20rem;
  width: 35rem;
   top: 0rem; 
  right : 7rem;
  } 
  header div {
    z-index:1000 ;
  }
  header a{
    height:2rem ;
    margin-top:8rem ;
  margin-right :50rem ;
  z-index:1000 ;
  
  }
 .logoimg{
  height: 19rem;
  width: 16rem;
  object-fit: contain;
  position: absolute;
  top: 5rem ; 
  left : 31rem ;
  z-index: 2; /* ده فوق */
  
}
header h2 {
  z-index: 6;
 margin-right : 8rem ;
  margin-top: 4rem;
  color: #FFFFFF;
  
}
img{
  height :10rem ;
  width:10rem ;
}
}

@media (max-width:700px ) {
  #latsha{
    height: 20rem;
  width: 17rem;
   top: 0rem; 
  left : 4.25rem;
  }
 .logoimg{
  height: 10rem;
  width: 11rem;
  object-fit: contain;
  position: absolute;
  top: 10rem ; 
  left : 8rem ;
  z-index: 2; /* ده فوق */
  
}
header{
 /* height:15rem ;*/
 align-content:flex-start ;
 
}
header a{
  height:2rem ;
margin-top:0.5rem  ;
 margin-right: 11rem ;
}
header h2{
  z-index:6;
  
  color:#FFFFFF ;
  font-size:20px  ;
  margin-right: 0.5rem ;
}
.product img {
  height:10rem ;
  width:10rem ;
  object-fit: cover ;
}
}
header{
 display:flex ;
  background: #000000 ;
  flex-wrap:wrap ;
  justify-content:flex-end  ;
}

header a{
  text-decoration:none ;
  background: #F8EC8E;
  color: #000000 ;
  padding:0.5rem  ;
  border-radius:1rem ;
 z-index: 4;
 align-content :center ;
 font-weight:bold ;

}
header a:hover{
  background:#FEF04F;
} 
#whyus{
  text-align:center ;
  flex-direction:row-reverse ;
}
h3{
  border-bottom:0.25rem solid gold ;
  text-align:center ;
  width:50%;
  
}
/*#filterBtns {
  display:flex ;
  flex-wrap:wrap ;
  justify-content:center ;
  gap:1rem ;
  margin-top:5rem ;
}
button{
  width:8rem ;
  height:3rem;
  border-radius:1rem ;
  border:none ;
  color:#000000 ;
  background:gold ;
  font-weight:1000 ;
}
.active{
  background:#000000 ;
  color:gold;
  box-shadow:0 0 1rem #000000 ;
}*/
#bestsellers{
  display:flex ;
  flex-wrap:wrap ;
  justify-content:center ;
  gap: 1rem ;
  margin-top:5rem ;
}
.product{
  background: #FAF5B5;
}